# --- IGNORA ARCHIVOS GENERADOS DE LOS SCRIPTS ---
Reporte_*.txt

# --- IGNORA ARCHIVO DEL ENTORNO Y DEL SISTEMA
__pycache__/

# --- IGNORA CARPETA DE CONFIGURACIÓN DE VISUAL STUDIO CODE ---
.vscode/

# --- IGNORA ARCHIVOS DE VARIABLE DE ENTORNO ---
.env